<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--ideashare-dark">
    <div class="header-width mdl-ideashare-top-menu mdl-layout--large-screen-only mdl-layout__header-row">
      <%= render "shared/navbar/top" %>
    </div>
    <div class="mdl-ideashare-sitename-little mdl-color--ideashare-grey-font header-width mdl-layout--large-screen-only mdl-layout__header-row">
      <h6>Ideashare</h6>
    </div>
    <div class="header-width mdl-main-title mdl-layout--large-screen-only mdl-layout__header-row">
      <h3>Jak ulepszyć naszą stronę?</h3>
    </div>
    <div class="mdl-ideashare-emptyspace header-width mdl-layout--large-screen-only mdl-layout__header-row">
    </div>
    <div class="header-width its-tab-bar mdl-color--ideashare-dark">
      <%= render "shared/navbar/button" %>
    </div>
  </header>
  <main class="mdl-layout__content">
    <div class="mdl-layout__tab-panel is-active" id="overview">
      <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <header class="ideashare-idea ideashare-idea-header section__play-btn mdl-cell mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color-text--white ids-background-color">
          <div class="ideashare-idea-buttons">
            <div class="like idea-button">
              <i class="material-icons ripple-effect" data-ripple-color="#aed136" data-ripple-limit=".section--center">thumb_up</i>
              <p>13430</p>
            </div>
            <div class="empty idea-button"></div>
            <div class="dislike idea-button">
              <i class="material-icons ripple-effect" data-ripple-color="#d13636" data-ripple-limit=".section--center">thumb_down</i>
              <p>975</p>
            </div>
          </div>
          <img class="ids-image-card" src="images/slide1.jpg" alt="">
        </header>
        <div class="mdl-card mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone ideashare-idea-content">
          <div class="mdl-card__supporting-text">
            <h4>Banowanie użytkowników</h4>
            Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Nostrud in laboris labore nisi amet do dolor eu fugiat consectetur elit cillum esse.
          </div>
          <div class="mdl-card__actions">
            <a href="#" class="ideashare-link-action">
              <div class="mdl-card__actions--icon">
                <i class="material-icons">person</i>
              </div>
              <div class="mdl-card__actions--text">
                WozniakMac
              </div>
            </a>
            <a href="#" class="ideashare-link-action">
              <div class="mdl-card__actions--icon">
                <i class="material-icons">comment</i>
              </div>
              <div class="mdl-card__actions--text">
                20 komentarzy
              </div>
            </a>
          </div>
        </div>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn1">
          <i class="material-icons">more_vert</i>
        </button>
        <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn1">
          <li class="mdl-menu__item">Edytuj</li>
          <li class="mdl-menu__item">Zgłoś</li>
          <li class="mdl-menu__item">Zmień status</li>
        </ul>
      </section>

      <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <header class="ideashare-idea ideashare-idea-header section__play-btn mdl-cell mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color-text--white ids-background-color">
          <div class="ideashare-idea-buttons">
            <div class="like idea-button">
              <i class="material-icons ripple-effect" data-ripple-color="#aed136" data-ripple-limit=".section--center">thumb_up</i>
              <p>13430</p>
            </div>
            <div class="empty idea-button"></div>
            <div class="dislike idea-button">
              <i class="material-icons ripple-effect" data-ripple-color="#d13636" data-ripple-limit=".section--center">thumb_down</i>
              <p>975</p>
            </div>
          </div>
          <img class="ids-image-card" src="images/slide1.jpg" alt="">
        </header>
        <div class="mdl-card mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone ideashare-idea-content">
          <div class="mdl-card__supporting-text">
            <h4>Banowanie użytkowników</h4>
            Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Nostrud in laboris labore nisi amet do dolor eu fugiat consectetur elit cillum esse.
          </div>
          <div class="mdl-card__actions">
            <a href="#" class="ideashare-link-action">
              <div class="mdl-card__actions--icon">
                <i class="material-icons">person</i>
              </div>
              <div class="mdl-card__actions--text">
                WozniakMac
              </div>
            </a>
            <a href="#" class="ideashare-link-action">
              <div class="mdl-card__actions--icon">
                <i class="material-icons">comment</i>
              </div>
              <div class="mdl-card__actions--text">
                20 komentarzy
              </div>
            </a>
          </div>
        </div>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn2">
          <i class="material-icons">more_vert</i>
        </button>
        <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn2">
          <li class="mdl-menu__item">Edytuj</li>
          <li class="mdl-menu__item">Zgłoś</li>
          <li class="mdl-menu__item">Zmień status</li>
        </ul>
      </section>


      <div class="container">
        <div class="pagination">
          <button class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">keyboard_arrow_left</i>
          </button>
          <button class="mdl-button mdl-js-button mdl-button--icon">
            1
          </button>
          <button class="mdl-button mdl-js-button mdl-button--icon">
            2
          </button>
          <button class="mdl-button mdl-js-button mdl-button--icon mdl-shadow--4dp mdl-button--fab">
            3
          </button>
          <button class="mdl-button mdl-js-button mdl-button--icon">
            4
          </button>
          <button class="mdl-button mdl-js-button mdl-button--icon">
            5
          </button>
          <button class="mdl-button mdl-js-button mdl-button--icon">
            6
          </button>
          <button class="mdl-button mdl-js-button mdl-button--icon" disabled>
            ...
          </button>
          <button class="mdl-button mdl-js-button mdl-button--icon">
            15
          </button>
          <button class="mdl-button mdl-js-button mdl-button--icon">
            16
          </button>
          <button class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">keyboard_arrow_right</i>
          </button>
        </div>
      </div>


      <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">


      </section>
    </div>
  </main>
</div>