<div class="ids-comment">
  <div class="ids-comment-image">
    <a href="#">
      <img src="/images/face.png"></img>
    </a>
  </div>
  <div class="ids-comment-content">
    <p class="ids-comment-text"><b><%= comment.user %>:</b>  <%= comment.comment %></p>
    <p class="ids-comment-date ids-font__grey-ultralight"><%= "#{comment.created_at.strftime '%Y-%m-%d %H:%M '}" %></p>
  </div>
</div>