<ul class="nav navbar-nav">
  <li><%= link_to(I18n.t('navbar.left.createbox'), new_manager_box_path ) %></li>
  <li><%= link_to(I18n.t('navbar.left.boxes'), boxes_path ) %></li>
  <li><%= link_to(I18n.t('navbar.left.ourbox')) %></li>
</ul>