<ul class="nav navbar-nav">
  <li><%= link_to(I18n.t('navbar.left.createbox'), new_manager_box_path ) %></li>
  <li><%= link_to(I18n.t('navbar.left.yourboxes'), manager_boxes_path ) %></li>
  <li><%= link_to(I18n.t('navbar.left.statistics') ) %></li>
</ul>