<button class="mdl-button--green mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-shadow--4dp mdl-layout--large-screen-only" id="add">
  <i class="material-icons" role="presentation">add</i>
  <span class="visuallyhidden">Add</span>
</button>
