<nav class="mdl-navigation">
  <%= link_to(I18n.t('navbar.left.table'), '#' , class: 'mdl-navigation__link') %>
  <%= link_to(I18n.t('navbar.left.boxes'), boxes_path , class: 'mdl-navigation__link') %>
  <a class="mdl-navigation__link" href="">Top</a>
  <a class="mdl-navigation__link" href="">Nasze pudełko</a>
</nav>
<div class="mdl-layout-spacer"></div>
<nav class="mdl-navigation mdl-ideashare-right-menu">
  <a class="mdl-navigation__link" href="">WozniakMac</a>
  <a class="mdl-navigation__link" href=""><i class="material-icons">share</i></a>
  <a class="mdl-navigation__link" href=""><i class="material-icons">favorite</i></a>
  <a class="mdl-navigation__link" href=""><i class="material-icons">notifications</i></a>
  <a class="mdl-navigation__link" href=""><img src="/images/face.png"></img></a>
</nav>


