// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

#ib-maincontent {
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  padding-top: 2em;
}