//colors
$color_outer_space_approx: #31343c;
$black: #000;
$black_12: rgba(0, 0, 0, 0.12);
$white: #fff;
$color_atlantis_approx: #aed136;
$color_lima_approx: #73ad21;
$color_persian_red_approx: #d13636;

.mdl-ideashare-base {
  .mdl-card {
    height: auto;
    display: flex;
    flex-direction: column;
    > * {
      height: auto;
    }
    .mdl-card__supporting-text {
      margin: 40px;
      flex-grow: 1;
      padding: 0;
      color: inherit;
      width: calc(100% - 80px);
    }
  }
  .mdl-card__actions {
    margin: 0;
    padding: 8px 20px;
    color: $color_outer_space_approx;
    white-space: nowrap;
    overflow:hidden;
    .mdl-card__actions--icon {
      display: inline-block;
      position: relative;
      top: 3px;
    }
    .mdl-card__actions--text {
      display: inline-block;
    }
    a {
      text-decoration: none;
      font-size: 13px;
      color: $color_outer_space_approx;
      margin-right: 10px;
      &:hover {
        color: $black;
      }
      &:active {
        color: $black;
      }
    }
    i {
      line-height: 0;
      font-size: 17px;
      color: $color_outer_space_approx;
    }
  }
  #add {
    position: relative;
    right: 0;
    top: 30px;
    z-index: 999;
    margin-right: 0;
  }
  section {
    &.section--center {
      max-width: 1200px;
    }
    > header {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    > button {
      position: absolute;
      z-index: 99;
      top: 8px;
      right: 8px;
    }
    > .section__play-btn {
      min-height: 200px;
    }
  }
  .mdl-menu__container {
    z-index: 99;
  }
  .mdl-color--ideashare-dark {
    background-color: $color_outer_space_approx;
  }
  .mdl-color--ideashare-green {
    background-color: $color_atlantis_approx;
    color: $white;
  }
  .ids-image-card {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: scale(0);
    opacity: 0;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all .3s ease-out;
    object-fit: contain;
    position: absolute;
    &.show {
      opacity: 0.5;
      //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
      transform: scale(1);
    }
  }
  .ideashare-idea-header {
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: left 0.5s;
    height: 200px;
  }
  .ideashare-idea-content {
    transition: left 0.5s;
  }
  &.mdl-ideashare-base .mdl-card__supporting-text h4 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .mdl-card__supporting-text + .mdl-card__actions {
    border-top: 1px solid $black_12;
  }
  .mdl-layout__content section:not(:last-of-type) {
    position: relative;
  }
}
.ideashare-idea-buttons {
  z-index: 50;
}
.idea-button {
  display: inline-block;
  text-align: center;
  i {
    font-size: 40px;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all 0.2s ease-in-out;
    color: white;
  }
  p {
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 25px;
    background: $color_lima_approx;
    padding-right: 5px;
    padding-left: 5px;
  }
}
.empty {
  width: 10px;
}
.like i:hover {
  color: $color_atlantis_approx;
}
.dislike i:hover {
  color: $color_persian_red_approx;
}

.ids-on-top {
  z-index: 999;
}