/*****************************CARD*******************************/

.mdl-ideashare-base .mdl-card {
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.mdl-ideashare-base .mdl-card > * {
  height: auto;
}

.mdl-ideashare-base .mdl-card .mdl-card__supporting-text {
  margin: 40px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0;
  color: inherit;
  width: calc(100% - 80px);
}

.mdl-ideashare-base.mdl-ideashare-base .mdl-card__supporting-text h4 {
  margin-top: 0;
  margin-bottom: 20px;
}

.mdl-ideashare-base .mdl-card__actions {
  margin: 0;
  padding: 8px 40px 8px 40px;
  color: #31343c;
}

.mdl-ideashare-base .mdl-card__actions .mdl-card__actions--icon {
  display: inline-block;
  position: relative;
  top: 3px;
}

.mdl-ideashare-base .mdl-card__actions .mdl-card__actions--text {
  display: inline-block;
}

.mdl-ideashare-base .mdl-card__actions a {
  text-decoration: none;
  font-size: 13px;
  color: #31343c;
  margin-right: 10px;
}

.mdl-ideashare-base .mdl-card__actions i {
  line-height: 0px;
  font-size: 17px;
  color: #31343c;
}

.mdl-ideashare-base .mdl-card__actions a:hover, .mdl-ideashare-base .mdl-card__actions a:active {
  color: black;
}

.mdl-ideashare-base .mdl-card__supporting-text + .mdl-card__actions {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.mdl-ideashare-base #add {
  position: relative;
  right: 0px;
  top: 30px;
  z-index: 999;
  margin-right: 0px;
}

.mdl-ideashare-base .mdl-layout__content section:not(:last-of-type) {
  position: relative;
  margin-bottom: 48px;
}

.mdl-ideashare-base section.section--center {
  max-width: 1200px;
}

.ids-content {
  max-width: 1200px;
}

.mdl-ideashare-base section > header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.mdl-ideashare-base section > .section__play-btn {
  min-height: 200px;
}

.mdl-ideashare-base section > button {
  position: absolute;
  z-index: 99;
  top: 8px;
  right: 8px;
}

.mdl-ideashare-base .mdl-layout__tab-panel:not(#overview) {
  background-color: white;
}

.mdl-ideashare-base .mdl-menu__container {
  z-index: 99;
}

.mdl-ideashare-base .mdl-color--ideashare-dark {
  background-color: #31343c;
}

.mdl-ideashare-base .mdl-color--ideashare-green {
  background-color: #aed136;
  color: white;
}

.mdl-ideashare-base .mdl-button--green {
  background: #aed136;
  color: #fff;
}

.mdl-ideashare-base .mdl-button--green:hover {
  background-color: #aed136;
  color: #fff;
}

.mdl-ideashare-base .mdl-button--green:active {
  background-color: #aed136;
  color: #fff;
}

.mdl-ideashare-base .mdl-button--green:focus:not(:active) {
  background-color: #aed136;
  color: #fff;
}

/********** ANiMaTioN ***************/

.mdl-ideashare-base .ids-image-card {
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  -moz-transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  object-fit: contain;
  position: absolute;
}

.mdl-ideashare-base .ids-image-card.show {
  opacity: 0.7;
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.mdl-ideashare-base .ids-card-title {
  z-index: 999;
  position: absolute;
  bottom: 5px;
  left: 40px;
  max-height: 70%;
}

.mdl-ideashare-base .ids-card-title h3 {
  background-color: #31343c;
  color: #aed136;
  display: inline;
}

.mdl-ideashare-base .ideashare-idea-header {
  transition: left 0.5s;
  background-color: #31343c;
}

.mdl-ideashare-base .ideashare-idea-content {
  transition: left 0.5s;
}



.ideashare-idea-buttons {
  z-index: 999;
  position: absolute;
  top: 10px;
  left: 40px;
}

.idea-button i {
  font-size: 20px;
  transition: all 0.2s ease-in-out;
}

.idea-button p {
  font-size: 12px;
  border-radius: 25px;
  background: #73AD21;
  padding-right: 5px;
  padding-left: 5px;
}

.idea-button {
  display: inline-flex;
  text-align: center;
}

.empty {
  width: 10px;
}

.like i:hover {
  color: #aed136;
}

.dislike i:hover {
  color: #d13636;
}

.ids-cards-left {
  float: left;
}

.mdl-ideashare-base .user-info__head {
  background-color: #FFFFFF;

}

.mdl-ideashare-base .user-info__head > div {
  text-align: center;
  margin-top: 40px;
}