//Create box

#ib-content .actions {
  text-align: right;
}

@media (min-width: 800px) {
  #ib-title {
    margin-bottom: 1em;
  }
}

//Manage boxes

.ib-panel-content {
  overflow: hidden;
  height: 200px;
}

#ib-boxes {
  position: relative;
}

.ib-indexbutton {
  display: none;
  text-align: right;
  position: absolute;
  bottom:2em;
  right:2em;
}

.ib-panel-content:hover > .ib-indexbutton {
  display: block;
}

.ib-idea-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-height: 16px;        /* fallback */
  max-height: 32px;       /* fallback */
}

.ib-idea-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-height: 20px;        /* fallback */
  max-height: 20px;       /* fallback */
}

.ib-idea-data {
  //float: left;
  display: inline-flex;
  width: 100%;
  color: #777777;
}

.ib-idea-data-s {
  width: 100%;
  color: #777777;
  text-align: right;
}

.ib-idea-data-element {
  margin-right: 1em;
  display: inline;
}

.pagination {
  margin: 0px 0;
}

.ib-pagination {
  text-align: center;
}

.search{
  height: 22px;
}

.ib-box-description-hide {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-height: 20px;        /* fallback */
  max-height: 60px;       /* fallback */
}

.ib-box-desc-rozwin {
  text-align: center;
  font-size: x-small;
}

.hide {
  display: none;
}

.ib-idea-info-panel {
  padding-top: 2em;
  //float: right;
  //width: 21em;
}

.ib-idea-like-buttons-panel {
  float: right;
}

.ib-idea-edit{
  //width: 15em;
}