<%= form_for([:manager,@manager_box,@manager_idea]) do |f| %>
  <% if @manager_idea.errors.any? %>
      <% @manager_idea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="input-group ib-idea-edit">
      <%= f.select(:status, options_for_select(Idea.statuses.map { |k,v| [I18n.t(k), k] }, :selected => @manager_idea.status), {}, { class: 'form-control' }) %>
      <span class="input-group-btn">
        <%= f.submit I18n.t('save') ,class: 'btn btn-default' %>
      </span>
    </div><!-- /input-group -->
<% end %>


